<!--<!DOCTYPE html>-->
<!--<html>-->

<!--<head>-->
<!--    &lt;!&ndash; Basic &ndash;&gt;-->
<!--    <meta charset="utf-8" />-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
<!--    &lt;!&ndash; Mobile Metas &ndash;&gt;-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />-->
<!--    &lt;!&ndash; Site Metas &ndash;&gt;-->
<!--    <meta name="keywords" content="" />-->
<!--    <meta name="description" content="" />-->
<!--    <meta name="author" content="" />-->

<!--    <title>KinMKD</title>-->

<!--    &lt;!&ndash; slider stylesheet &ndash;&gt;-->
<!--    &lt;!&ndash; slider stylesheet &ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />-->

<!--    &lt;!&ndash; bootstrap core css &ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />-->

<!--    &lt;!&ndash; fonts style &ndash;&gt;-->
<!--    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">-->
<!--    &lt;!&ndash; Custom styles for this template &ndash;&gt;-->
<!--    <link href="css/style.css" rel="stylesheet" />-->
<!--    <link href="css/details.css" rel="stylesheet" />-->
<!--    &lt;!&ndash; responsive style &ndash;&gt;-->
<!--    <link href="css/responsive.css" rel="stylesheet" />-->
<!--</head>-->

<!--<body class="sub_page">-->
<!--<div class="hero_area">-->
<!--    &lt;!&ndash; header section strats &ndash;&gt;-->
<!--    <header class="header_section">-->
<!--        <div class="container-fluid">-->
<!--            <nav class="navbar navbar-expand-lg custom_nav-container pt-3">-->
<!--                <a class="navbar-brand" href="index.html">-->
<!--            <span>-->
<!--              KinMKD-->
<!--            </span>-->
<!--                </a>-->
<!--                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                    <span class="navbar-toggler-icon"></span>-->
<!--                </button>-->

<!--                <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                    <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">-->
<!--                        <ul class="navbar-nav  ">-->
<!--                            <li class="nav-item active">-->
<!--                                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link" href="about.html"> About </a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link" href="login.html"> Login </a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link" href="signup.html"> Signup </a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link" href="index.html">Log out</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                        <div class="user_option">-->
<!--                            <a href="">-->
<!--                                <img src="images/user.png" alt="">-->
<!--                            </a>-->
<!--                            <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">-->
<!--                                <a class="btn  my-2 my-sm-0 nav_search-btn" href="search.html"></a>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </nav>-->
<!--        </div>-->
<!--    </header>-->
<!--    &lt;!&ndash; end header section &ndash;&gt;-->
<!--</div>-->


<!--<section class="who_section layout_padding" style="margin-top: 7%;margin-bottom: 2%">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-5">-->
<!--                <div class="img-box">-->
<!--                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11860.650926050406!2d21.4343423!3d41.996783!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135415aef89e7f7d%3A0x7f10f7b3ba13ae34!2z0JDRgNGF0LXQvtC70L7RiNC60Lgg0LzRg9C30LXRmCDQvdCwINCg0LXQv9GD0LHQu9C40LrQsCDQodC10LLQtdGA0L3QsCDQnNCw0LrQtdC00L7QvdC40ZjQsA!5e0!3m2!1smk!2smk!4v1701341344389!5m2!1smk!2smk" width="450" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-7">-->
<!--                <div class="detail-box">-->
<!--                    <div class="heading_container">-->
<!--                        <h2>-->
<!--                            Archaeological museum-->
<!--                        </h2>-->
<!--                        <h4>Category : museums</h4>-->
<!--                    </div>-->
<!--                   <div>-->
<!--                       <div class="container">-->
<!--                           <div class="d-flex py-2">-->
<!--                               <div class="second py-2 px-2"> <span class="text1">Коментар од Martha...</span>-->
<!--                                   <div class="d-flex justify-content-between py-1 pt-2">-->
<!--                                       <div><img src="https://www.nicepng.com/png/full/128-1280406_view-user-icon-png-user-circle-icon-png.png" width="18"><span class="text2">Martha</span></div>-->
<!--                                       <div><span class="thumbup"><i class="fa fa-thumbs-o-up"></i></span><span class="text4">Оцена: 4</span></div>-->
<!--                                   </div>-->
<!--                               </div>-->
<!--                           </div>-->
<!--                           <div class="d-flex py-2">-->
<!--                               <div class="second py-2 px-2"> <span class="text1">Коментар од Dzoni...</span>-->
<!--                                   <div class="d-flex justify-content-between py-1 pt-2">-->
<!--                                       <div><img src="https://www.nicepng.com/png/full/128-1280406_view-user-icon-png-user-circle-icon-png.png" width="18"><span class="text2">Dzoni</span></div>-->
<!--                                       <div><span class="thumbup"><i class="fa fa-thumbs-o-up"></i></span><span class="text4">Оцена: 1</span></div>-->
<!--                                   </div>-->
<!--                               </div>-->
<!--                           </div>-->
<!--                           <div class="d-flex py-2">-->
<!--                               <div class="second py-2 px-2"> <span class="text1">Коментар од Beth...</span>-->
<!--                                   <div class="d-flex justify-content-between py-1 pt-2">-->
<!--                                       <div><img src="https://www.nicepng.com/png/full/128-1280406_view-user-icon-png-user-circle-icon-png.png" width="18" height="18"><span class="text2">Beth</span></div>-->
<!--                                       <div><span class="thumbup"><i class="fa fa-thumbs-up thumbupo"></i></span><span class="text4">Оцена: 3</span></div>-->
<!--                                   </div>-->
<!--                               </div>-->
<!--                           </div>-->
<!--                           <div class="d-flex py-2">-->
<!--                               <div class="second py-2 px-2"> <span class="text1">Коментар од Curtis...</span>-->
<!--                                   <div class="d-flex justify-content-between py-1 pt-2">-->
<!--                                       <div><img src="https://www.nicepng.com/png/full/128-1280406_view-user-icon-png-user-circle-icon-png.png" width="18"><span class="text2">Curtis</span></div>-->
<!--                                       <div><span class="thumbup"><i class="fa fa-thumbs-up thumbupo"></i></span><span class="text4">Оцена: 5</span></div>-->
<!--                                   </div>-->
<!--                               </div>-->
<!--                           </div>-->
<!--                       </div>-->
<!--                </div>-->
<!--                    <div>-->
<!--                        <a href="myReview.html">-->
<!--                            My Review-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--&lt;!&ndash; footer section &ndash;&gt;-->
<!--<section class="container-fluid footer_section">-->
<!--    <p>-->
<!--        &copy; 2023 All Rights Reserved-->
<!--    </p>-->
<!--</section>-->
<!--&lt;!&ndash; footer section &ndash;&gt;-->

<!--<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>-->
<!--<script type="text/javascript" src="js/bootstrap.js"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">-->
<!--</script>-->


<!--</body>-->

<!--</html>-->

<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="who_section layout_padding" style="margin-top: 7%;margin-bottom: 2%">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="img-box">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11860.650926050406!2d21.4343423!3d41.996783!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135415aef89e7f7d%3A0x7f10f7b3ba13ae34!2z0JDRgNGF0LXQvtC70L7RiNC60Lgg0LzRg9C30LXRmCDQvdCwINCg0LXQv9GD0LHQu9C40LrQsCDQodC10LLQtdGA0L3QsCDQnNCw0LrQtdC00L7QvdC40ZjQsA!5e0!3m2!1smk!2smk!4v1701341344389!5m2!1smk!2smk" width="450" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Archaeological museum
                            </h2>
                            <h4>Category : museums</h4>
                        </div>
                       <div>
                           <div class="container">
                               <div class="d-flex py-2">
                                   <div class="second py-2 px-2"> <span class="text1">Коментар од Martha...</span>
                                       <div class="d-flex justify-content-between py-1 pt-2">
                                           <div><img src="https://www.nicepng.com/png/full/128-1280406_view-user-icon-png-user-circle-icon-png.png" width="18"><span class="text2">Martha</span></div>
                                           <div><span class="thumbup"><i class="fa fa-thumbs-o-up"></i></span><span class="text4">Оцена: 4</span></div>
                                       </div>
                                   </div>
                               </div>
                               <div class="d-flex py-2">
                                   <div class="second py-2 px-2"> <span class="text1">Коментар од Dzoni...</span>
                                       <div class="d-flex justify-content-between py-1 pt-2">
                                           <div><img src="https://www.nicepng.com/png/full/128-1280406_view-user-icon-png-user-circle-icon-png.png" width="18"><span class="text2">Dzoni</span></div>
                                           <div><span class="thumbup"><i class="fa fa-thumbs-o-up"></i></span><span class="text4">Оцена: 1</span></div>
                                       </div>
                                   </div>
                               </div>
                               <div class="d-flex py-2">
                                   <div class="second py-2 px-2"> <span class="text1">Коментар од Beth...</span>
                                       <div class="d-flex justify-content-between py-1 pt-2">
                                           <div><img src="https://www.nicepng.com/png/full/128-1280406_view-user-icon-png-user-circle-icon-png.png" width="18" height="18"><span class="text2">Beth</span></div>
                                           <div><span class="thumbup"><i class="fa fa-thumbs-up thumbupo"></i></span><span class="text4">Оцена: 3</span></div>
                                       </div>
                                   </div>
                               </div>
                               <div class="d-flex py-2">
                                   <div class="second py-2 px-2"> <span class="text1">Коментар од Curtis...</span>
                                       <div class="d-flex justify-content-between py-1 pt-2">
                                           <div><img src="https://www.nicepng.com/png/full/128-1280406_view-user-icon-png-user-circle-icon-png.png" width="18"><span class="text2">Curtis</span></div>
                                           <div><span class="thumbup"><i class="fa fa-thumbs-up thumbupo"></i></span><span class="text4">Оцена: 5</span></div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                    </div>
                        <div>
                            <a th:href="@{/location/1/my-review}">
                                My Review
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>